openapi: 3.0.3
info:
  title: Arbiscan Token API - HEGIC Token Accounts Tokens API
  description: 'Block explorer API for querying Hegic (HEGIC) token data on Arbitrum One, including token supply, holder information, transfer events, and contract interactions. The HEGIC token contract address on Arbitrum is 0x431402e8b9de9aa016c743880e04e517074d8cec. All endpoints require an API key obtained from https://arbiscan.io/myapikey.

    '
  version: 1.0.0
  contact:
    name: Arbiscan Support
    url: https://arbiscan.io
  license:
    name: Arbiscan Terms of Service
    url: https://arbiscan.io/terms
servers:
- url: https://api.arbiscan.io/api
  description: Arbiscan API for Arbitrum One
security:
- ApiKeyQuery: []
tags:
- name: Tokens
  description: ERC-20 token data for HEGIC token on Arbitrum
paths:
  /:
    get:
      summary: Get ERC-20 token supply
      description: 'Returns the total supply of ERC-20 tokens for the HEGIC token contract on Arbitrum One.

        '
      operationId: getTokenSupply
      tags:
      - Tokens
      parameters:
      - name: module
        in: query
        required: true
        schema:
          type: string
          enum:
          - stats
        example: stats
      - name: action
        in: query
        required: true
        schema:
          type: string
          enum:
          - tokensupply
        example: tokensupply
      - name: contractaddress
        in: query
        required: true
        description: HEGIC token contract address on Arbitrum
        schema:
          type: string
        example: '0x431402e8b9de9aa016c743880e04e517074d8cec'
      - name: apikey
        in: query
        required: true
        description: Your Arbiscan API key
        schema:
          type: string
        example: YourApiKeyToken
      responses:
        '200':
          description: Token supply response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                status: '1'
                message: OK
                result: '1000000000000000000000000'
  /token-transfers:
    get:
      summary: Get ERC-20 token transfer events
      description: 'Returns ERC-20 token transfer events for the HEGIC token contract on Arbitrum One, optionally filtered by address.

        '
      operationId: getTokenTransfers
      tags:
      - Tokens
      parameters:
      - name: module
        in: query
        required: true
        schema:
          type: string
          enum:
          - account
        example: account
      - name: action
        in: query
        required: true
        schema:
          type: string
          enum:
          - tokentx
        example: tokentx
      - name: contractaddress
        in: query
        required: true
        description: HEGIC token contract address on Arbitrum
        schema:
          type: string
        example: '0x431402e8b9de9aa016c743880e04e517074d8cec'
      - name: address
        in: query
        required: false
        description: Filter by specific wallet address
        schema:
          type: string
      - name: startblock
        in: query
        required: false
        description: Start block number
        schema:
          type: integer
        example: 0
      - name: endblock
        in: query
        required: false
        description: End block number
        schema:
          type: integer
        example: 99999999
      - name: page
        in: query
        required: false
        description: Page number for pagination
        schema:
          type: integer
          default: 1
      - name: offset
        in: query
        required: false
        description: Number of results per page (max 10000)
        schema:
          type: integer
          default: 10
      - name: sort
        in: query
        required: false
        description: Sort order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: apikey
        in: query
        required: true
        description: Your Arbiscan API key
        schema:
          type: string
        example: YourApiKeyToken
      responses:
        '200':
          description: Token transfer events
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/TokenTransfer'
components:
  schemas:
    TokenTransfer:
      type: object
      properties:
        blockNumber:
          type: string
        timeStamp:
          type: string
        hash:
          type: string
          description: Transaction hash
        nonce:
          type: string
        blockHash:
          type: string
        from:
          type: string
          description: Sender address
        contractAddress:
          type: string
          description: Token contract address
        to:
          type: string
          description: Recipient address
        value:
          type: string
          description: Transfer amount in token's smallest unit
        tokenName:
          type: string
          example: Hegic
        tokenSymbol:
          type: string
          example: HEGIC
        tokenDecimal:
          type: string
          example: '18'
        transactionIndex:
          type: string
        gas:
          type: string
        gasPrice:
          type: string
        gasUsed:
          type: string
        cumulativeGasUsed:
          type: string
        confirmations:
          type: string
    ApiResponse:
      type: object
      properties:
        status:
          type: string
          description: 1 for success, 0 for error
          example: '1'
        message:
          type: string
          description: Response message
          example: OK
        result:
          description: Response payload (varies by endpoint)
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: Arbiscan API Documentation
  url: https://docs.arbiscan.io
