openapi: 3.2.0
info:
  title: DefiLlama Hegic Protocol Prices API
  description: 'Public REST API provided by DefiLlama for querying Hegic protocol metrics including TVL, fees, revenue, and options volume. Returns historical and current data across Arbitrum and Ethereum deployments with no authentication required. Hegic is an on-chain peer-to-pool options trading protocol deployed on Arbitrum enabling ETH and WBTC call and put options trading.

    '
  version: 1.0.0
  contact:
    name: DefiLlama Team
    url: https://defillama.com
  license:
    name: MIT
    url: https://github.com/DefiLlama/defillama-server/blob/master/LICENSE
servers:
- url: https://api.llama.fi
  description: DefiLlama Free API (no authentication required)
tags:
- name: Prices
  description: Token price data
paths:
  /prices/current/{coins}:
    get:
      summary: Get current token prices
      description: 'Get current prices of tokens by contract address. Can be used to get current HEGIC token price on Arbitrum (arbitrum:0x431402e8b9de9aa016c743880e04e517074d8cec).

        '
      operationId: getCurrentPrices
      tags:
      - Prices
      parameters:
      - name: coins
        in: path
        required: true
        description: 'Comma-separated tokens defined as {chain}:{address} or coingecko:{id}

          '
        schema:
          type: string
        example: arbitrum:0x431402e8b9de9aa016c743880e04e517074d8cec
      - name: searchWidth
        in: query
        required: false
        description: Time range on either side to find price data (defaults to 6 hours)
        schema:
          type: string
        example: 4h
      responses:
        '200':
          description: Current token prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinPrices'
  /prices/historical/{timestamp}/{coins}:
    get:
      summary: Get historical token prices
      description: 'Get historical prices of tokens by contract address at a specific UNIX timestamp.

        '
      operationId: getHistoricalPrices
      tags:
      - Prices
      parameters:
      - name: timestamp
        in: path
        required: true
        description: UNIX timestamp of time when you want historical prices
        schema:
          type: number
        example: 1648680149
      - name: coins
        in: path
        required: true
        description: 'Comma-separated tokens defined as {chain}:{address}

          '
        schema:
          type: string
        example: arbitrum:0x431402e8b9de9aa016c743880e04e517074d8cec
      - name: searchWidth
        in: query
        required: false
        description: Time range on either side to find price data
        schema:
          type: string
        example: 4h
      responses:
        '200':
          description: Historical token prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinPrices'
components:
  schemas:
    CoinPrices:
      type: object
      properties:
        coins:
          type: object
          additionalProperties:
            type: object
            properties:
              decimals:
                type: integer
              price:
                type: number
              symbol:
                type: string
              timestamp:
                type: integer
externalDocs:
  description: DefiLlama API Documentation
  url: https://defillama.com/docs/api
