openapi: 3.0.3
info:
  title: Arbiscan Token API - HEGIC Token Accounts Contracts API
  description: 'Block explorer API for querying Hegic (HEGIC) token data on Arbitrum One, including token supply, holder information, transfer events, and contract interactions. The HEGIC token contract address on Arbitrum is 0x431402e8b9de9aa016c743880e04e517074d8cec. All endpoints require an API key obtained from https://arbiscan.io/myapikey.

    '
  version: 1.0.0
  contact:
    name: Arbiscan Support
    url: https://arbiscan.io
  license:
    name: Arbiscan Terms of Service
    url: https://arbiscan.io/terms
servers:
- url: https://api.arbiscan.io/api
  description: Arbiscan API for Arbitrum One
security:
- ApiKeyQuery: []
tags:
- name: Contracts
  description: Smart contract interactions and ABI
paths:
  /contract-abi:
    get:
      summary: Get contract ABI
      description: 'Returns the ABI (Application Binary Interface) for the HEGIC token or protocol contracts verified on Arbiscan.

        '
      operationId: getContractAbi
      tags:
      - Contracts
      parameters:
      - name: module
        in: query
        required: true
        schema:
          type: string
          enum:
          - contract
        example: contract
      - name: action
        in: query
        required: true
        schema:
          type: string
          enum:
          - getabi
        example: getabi
      - name: address
        in: query
        required: true
        description: Contract address on Arbitrum
        schema:
          type: string
        example: '0x431402e8b9de9aa016c743880e04e517074d8cec'
      - name: apikey
        in: query
        required: true
        description: Your Arbiscan API key
        schema:
          type: string
        example: YourApiKeyToken
      responses:
        '200':
          description: Contract ABI
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  schemas:
    ApiResponse:
      type: object
      properties:
        status:
          type: string
          description: 1 for success, 0 for error
          example: '1'
        message:
          type: string
          description: Response message
          example: OK
        result:
          description: Response payload (varies by endpoint)
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: Arbiscan API Documentation
  url: https://docs.arbiscan.io
