openapi: 3.2.0
info:
  title: DefiLlama Hegic Protocol Fees API
  description: 'Public REST API provided by DefiLlama for querying Hegic protocol metrics including TVL, fees, revenue, and options volume. Returns historical and current data across Arbitrum and Ethereum deployments with no authentication required. Hegic is an on-chain peer-to-pool options trading protocol deployed on Arbitrum enabling ETH and WBTC call and put options trading.

    '
  version: 1.0.0
  contact:
    name: DefiLlama Team
    url: https://defillama.com
  license:
    name: MIT
    url: https://github.com/DefiLlama/defillama-server/blob/master/LICENSE
servers:
- url: https://api.llama.fi
  description: DefiLlama Free API (no authentication required)
tags:
- name: Fees
  description: Protocol fees and revenue
paths:
  /overview/fees:
    get:
      summary: List all protocols with fees and revenue
      description: 'List all protocols along with summaries of their fees and revenue and dataType history data. Includes Hegic protocol fee and revenue data.

        '
      operationId: listFees
      tags:
      - Fees
      parameters:
      - name: excludeTotalDataChart
        in: query
        required: true
        description: Set to true to exclude aggregated chart from response
        schema:
          type: boolean
        example: true
      - name: excludeTotalDataChartBreakdown
        in: query
        required: true
        description: Set to true to exclude broken down chart from response
        schema:
          type: boolean
        example: true
      - name: dataType
        in: query
        required: false
        description: Desired data type
        schema:
          type: string
          enum:
          - dailyFees
          - dailyRevenue
          - dailyHoldersRevenue
          default: dailyFees
      responses:
        '200':
          description: Protocol fee and revenue data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeesOverview'
  /summary/fees/{protocol}:
    get:
      summary: Get protocol fees and revenue summary
      description: 'Get summary of protocol fees and revenue with historical data. Use protocol slug "hegic" to get Hegic-specific fee data.

        '
      operationId: getFeesSummary
      tags:
      - Fees
      parameters:
      - name: protocol
        in: path
        required: true
        description: Protocol slug (e.g. "hegic")
        schema:
          type: string
        example: hegic
      - name: dataType
        in: query
        required: false
        description: Desired data type
        schema:
          type: string
          enum:
          - dailyFees
          - dailyRevenue
          - dailyHoldersRevenue
          default: dailyFees
      responses:
        '200':
          description: Protocol fees and revenue summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeesSummary'
components:
  schemas:
    FeesSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        symbol:
          type: string
        category:
          type: string
        total24h:
          type: number
          description: Fees in last 24 hours (USD)
        change_1d:
          type: number
          description: 1-day change percentage
        totalDataChart:
          type: array
          items:
            type: array
        totalDataChartBreakdown:
          type: array
          items:
            type: object
    FeesOverview:
      type: object
      properties:
        protocols:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              total24h:
                type: number
              total7d:
                type: number
        totalDataChart:
          type: array
          items:
            type: array
        totalDataChartBreakdown:
          type: array
          items:
            type: object
externalDocs:
  description: DefiLlama API Documentation
  url: https://defillama.com/docs/api
