openapi: 3.2.0
info:
  title: DefiLlama Hegic Protocol Options API
  description: 'Public REST API provided by DefiLlama for querying Hegic protocol metrics including TVL, fees, revenue, and options volume. Returns historical and current data across Arbitrum and Ethereum deployments with no authentication required. Hegic is an on-chain peer-to-pool options trading protocol deployed on Arbitrum enabling ETH and WBTC call and put options trading.

    '
  version: 1.0.0
  contact:
    name: DefiLlama Team
    url: https://defillama.com
  license:
    name: MIT
    url: https://github.com/DefiLlama/defillama-server/blob/master/LICENSE
servers:
- url: https://api.llama.fi
  description: DefiLlama Free API (no authentication required)
tags:
- name: Options
  description: Options DEX volume and analytics
paths:
  /overview/options:
    get:
      summary: List all options DEXs with volume summaries
      description: 'List all options DEXs along with summaries of their volumes and dataType history data. Hegic appears in this list as an on-chain options protocol.

        '
      operationId: listOptionsDexs
      tags:
      - Options
      parameters:
      - name: excludeTotalDataChart
        in: query
        required: true
        description: Set to true to exclude aggregated chart from response
        schema:
          type: boolean
        example: true
      - name: excludeTotalDataChartBreakdown
        in: query
        required: true
        description: Set to true to exclude broken down chart from response
        schema:
          type: boolean
        example: true
      - name: dataType
        in: query
        required: false
        description: Desired data type (dailyPremiumVolume or dailyNotionalVolume)
        schema:
          type: string
          enum:
          - dailyPremiumVolume
          - dailyNotionalVolume
          default: dailyNotionalVolume
        example: dailyPremiumVolume
      responses:
        '200':
          description: Options DEX volume data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DexOverview'
  /overview/options/{chain}:
    get:
      summary: List options DEXs by chain
      description: 'List all options DEXs along with summaries of their volumes and dataType history data filtering by chain. Use "Arbitrum" to see Hegic-specific data.

        '
      operationId: listOptionsDexsByChain
      tags:
      - Options
      parameters:
      - name: chain
        in: path
        required: true
        description: Chain name (e.g. "Arbitrum")
        schema:
          type: string
        example: Arbitrum
      - name: excludeTotalDataChart
        in: query
        required: true
        description: Set to true to exclude aggregated chart from response
        schema:
          type: boolean
        example: true
      - name: excludeTotalDataChartBreakdown
        in: query
        required: true
        description: Set to true to exclude broken down chart from response
        schema:
          type: boolean
        example: true
      - name: dataType
        in: query
        required: false
        description: Desired data type
        schema:
          type: string
          enum:
          - dailyPremiumVolume
          - dailyNotionalVolume
          default: dailyNotionalVolume
      responses:
        '200':
          description: Options DEX volume data filtered by chain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DexOverview'
  /summary/options/{protocol}:
    get:
      summary: Get options DEX volume summary
      description: 'Get summary of options DEX volume with historical data for a specific protocol. Use protocol slug "hegic" to get Hegic-specific options data.

        '
      operationId: getOptionsSummary
      tags:
      - Options
      parameters:
      - name: protocol
        in: path
        required: true
        description: Protocol slug (e.g. "hegic")
        schema:
          type: string
        example: hegic
      - name: dataType
        in: query
        required: false
        description: Desired data type
        schema:
          type: string
          enum:
          - dailyPremiumVolume
          - dailyNotionalVolume
          default: dailyNotionalVolume
      responses:
        '200':
          description: Options volume summary with historical data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtocolVolumeSummary'
components:
  schemas:
    DexOverview:
      type: object
      properties:
        protocols:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              total24h:
                type: number
              total7d:
                type: number
              totalAllTime:
                type: number
        totalDataChart:
          type: array
          items:
            type: array
        allChains:
          type: array
          items:
            type: string
    ProtocolVolumeSummary:
      type: object
      properties:
        name:
          type: string
        total24h:
          type: number
          description: Volume in last 24 hours
        totalAllTime:
          type: number
          description: All-time volume
        totalDataChart:
          type: array
          items:
            type: array
        totalDataChartBreakdown:
          type: array
          items:
            type: object
        chains:
          type: array
          items:
            type: string
externalDocs:
  description: DefiLlama API Documentation
  url: https://defillama.com/docs/api
